{% load static %}
<script src="{% static 'django_quill/vendor/highlight.min.js' %}"></script>
<script src="{% static 'django_quill/vendor/quill.min.js' %}"></script>
<script src="{% static 'django_quill/vendor/quill.imageCompressor.min.js' %}"></script>
<script src="{% static 'django_quill/vendor/quill.imageUploader.min.js' %}"></script>
<script src="{% static 'django_quill/vendor/quill-resize-module.min.js' %}"></script>
<script src="{% static 'django_quill/vendor/quill-mentions.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'django_quill/vendor/quill.snow.css' %}">
<link rel="stylesheet" href="{% static 'django_quill/vendor/dracula.min.css' %}">
<link rel="stylesheet" href="{% static 'django_quill/vendor/quill.imageUploader.min.css' %}">
<link rel="stylesheet" href="{% static 'django_quill/vendor/resize.min.css' %}">
<link rel="stylesheet" href="{% static 'django_quill/vendor/quill-mentions.min.css' %}">
<link rel="stylesheet" href="{% static 'django_quill/django_quill.css' %}">

<script src="{% static 'django_quill/django_quill.js' %}"></script>
